/*
Left and top green line: #1b5c00
Body background color: #dff8eb
Content background color: #3ba26b
*/

body {
    background: #dff8eb;
}

#site {
    margin: 0 auto;
    background: url(images/background.png) repeat-y;
    width: 700px;
}

#headertop {
    background: url(images/headertop.png);
    height: 139px;
    width: 660px;
}

#headermiddle {
    background: url(images/headermiddle.png);
    height: 133px;
    width: 660px;
}

#headerbottom {
    background: url(images/headerbottom.png);
    height: 99px;
    width: 660px;
    text-align: right;
    line-height: 170px;
}

/*#headerbottom ul {
    margin: 0;
    padding: 0;
}
#headerbottom li {
    list-style: none;
    display: inline;
}*/


#headerbottom a, a:visited {
    color: white;
    text-decoration: none;
}

#headerbottom a:hover {
    text-decoration: underline;
}

#bottomshadows {
    margin: 0 auto;
    width: 700px; /*Must be the same has site width*/
}

#content {
    width: 650px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
    color:#1b5c00;
}

#footer {
    width: 660px;
    background: inherit;
    height: 36px;
    color: DimGray;
    text-align: center;
    font-size: small;
}

#bottomleftcorner {
    float: left;
    background: url(images/leftcornershadow.png) no-repeat;
    height: 8px;
    width: 15px;
}

#bottomshadow {
    float: left;
    background: url(images/bottomshadow.png) repeat-x;
    height: 8px;
    width: 638px;
}

#bottomrightcorner {
    margin-left: 653px;
    background: url(images/rightcornershadow.png) repeat-x;
    height: 8px;
    width: 15px;
}

img {
    border: none;
}
